* {
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px yellow; */
}

/*Setting colors of main sections*/
.topSection, .footer {
    background-color: #1F2937;
}
.quoteSection {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
}
.quoteSection p {
    margin:300px;
    font-style: italic;
}
.quoteSection strong {
    /* margin-left: 650px; */
    display: block;
    text-align: end;
    font-style: normal;
}
.sections {
    display: flex;
    flex: none;
    flex-direction: column;
}
.navigation,.nav2 {
    margin: 0 128px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 16px;
}

.midSection {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 300px;
}
.midSection h2 {
    margin-top: 16px;
}
.imageWrap {
    display: flex;
    flex-direction: column;
}

.navLinks {
    display: flex;
}

.navLinks a{
    margin: 8px;
    margin-right: 0;
    text-decoration: none;
    color: #E5E7EB;
}

.nav2 {
    display: flex;
    justify-content: space-BETWEEN;
    margin-top: 32px;
}
.nav2 img {
    justify-self: flex-end;
}
.nav2 div {
    width: 300px;
    height: 150px;
}
.imageBox {
    width: 100px;
    height: 100px;
    border: solid 2px #3882F6;
    border-radius: 8px;
    margin-top: 16px;
}

.topSection h1 {
    font-size: 24px;

}
.topSection h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.topSection {
    height: 400px;
}
.topSection button{
    margin-top:5px;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    padding: 5px 40px;
    color: #F9FAF8;
}
.footer {
    display: flex;
    justify-content: center;
}

.topSection p {
    color: white;
}

.imageBoxwrap {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.textBoxwrap {
    display: flex;
    flex-shrink: 1;
    gap: 20px;
}
.textBoxwrap p {
    width: 100px;
    text-align: center;
    margin-top: 8px;
}

.endSection {
    display: flex;
    justify-content: center;
    align-items: center;
}
.endSection .calltoAction {
    background-color: #3882F6;
    width: 1000px;
    height: 100px;
    margin: 0 128px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 80px;
    color:#E5E7EB;
}
.endSection button {
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 20px;
}
.footer {
    display: flex;
    align-items: center;
    height:100px;
}